/* utility class */
.aside--appear {
    display: flex;
}

.main .main__todo-item--create {
    padding: 1rem;
    display: flex;
    grid-column: 1/-1;
    align-items: center;
    justify-content: space-evenly;
    border: 4px dashed #90ee9033;

    svg,
    span {
        display: block;
        /* border: 2px solid deeppink; */
    }

    svg {
        fill: rgba(255, 255, 255, 0.5);
    }

    span {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.5);
        text-transform: capitalize;
    }
}

.main__heading-text--slide {
    animation: slide 8s linear infinite;
}

/* Animation Keyframes */
@keyframes slide {
    0% {
        transform: translate(100%);
    }

    30% {
        transform: translate(0);
    }

    50% {
        transform: translate(0);
    }

    100% {
        transform: translate(-200%);
    }
}
